.sidebar-main,.sidebar,#sidebar  .site-sidebar,#site-sidebar{
           display:none !important;
           }
           .content-area,#main,#primary{
               width:100% !important;
               margin:0px !important;
           }